*{box-sizing: border-box;}

html{
    font-family: 'Roboto', sans-serif;   
}

body{
  background-color: rgb(241, 241, 241);
}

.header{  
    height: 50px;   
    display: flex;
    align-items: center;  
 }
 
 .header__logo{
      width: 200px;
      height: 20px;
      margin-left: 20px;
 }

.contenedor{

   width: 90%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.img-portada{
 animation-name: portadaAnimation;
 animation-duration: 1s;
}

@keyframes portadaAnimation{
  
  from{margin-left: 200px; opacity: 0;}
  to{margin-left:0px; opacity: 1;}

}

.img__portada-user{

display: none;

animation-name: portadaAnimation;
animation-duration: 1s;

}

.login{

  width:45%;
  padding: 100px;
  background-color: white;
  border-radius: 25px;
  box-shadow: -1px 2px 13px 5px rgba(0,0,0,0.10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.login__input{

  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(117, 117, 117);
  outline: none;

}


.login__input:focus{

    border: 2px solid #4f9e9d;
  
}

.login__boton{

    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #6ed3d1;
    cursor: pointer;
}

.login__boton:hover{

    background-color: #6ed3d1;
    color: white;
  
}

.usuario{

  animation-name: usuario;
  animation-duration: 1s;
 

}

@keyframes usuario {

  from{opacity: 0;}
  to{opacity: 1;}

}


@media (max-width: 700px){


 .contenedor{
   flex-direction: column-reverse;
   
 }

 .login{
  
    width: 100%;
    margin-top: 50px;

 }

 .img-portada{
   
  width: 100%;

 }
 .img__portada-user{
   
  width: 100%;

 }




}